.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.header-change-map-button {
  display: inline-block;
  margin-right: 10px;
}

.header-auth-control {
  display: inline-block;
}
