#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: strech;
  border-bottom: 2px solid black;
}

#header button:not(.header-button-keep-border) {
  border: none;
  border-radius: 0;
  /* avoid 'overshadowing' of :focus box-shadows by adjacent elements */
  position: relative;
}

#header .header-button-wrapper {
  border-width: 0 1px 0;
  border-color: black;
  border-style: solid;
  margin: 0 -1px 0;
}

#header-menu .header-button-wrapper {
  height: 100%;
  display: flex;
}

#header-search {
  margin-left: 10px;
  display: none;
}

@media screen and (min-width: 960px) {
  #header-search {
    display: block;
  }
}

#header-search .input-group {
  height: 100%;
  align-items: center;
}

#header-search button {
  border-color: #ced4da;
}

#header-title {
  font-size: 10pt;
  text-align: center;
}

#header-title span {
  display: inline-block;
}

#header-title .header-title-emphasis {
  font-size: 14pt;
  font-weight: bold;
}

#header-auth-control {
  height: 100%;
  display: flex;
}

#header-auth-control-profile-button-wrapper {
  height: 100%;
  display: flex;
}

#header-auth-control-login-button-wrapper,
#header-auth-control-signup-button-wrapper {
  display: none;
}

@media screen and (min-width: 720px) {
  #header-auth-control-profile-button-wrapper {
    display: none;
  }
  #header-auth-control-login-button-wrapper,
  #header-auth-control-signup-button-wrapper {
    display: inline-block;
  }
}
